.SearchView input {
  border: none;
  border-radius: 30px;
  padding: 10px;
  width: 300px;
  filter: drop-shadow(0px 0px 2px black);
  outline: none;
  color: rgb(63, 63, 63);
}
.SearchView p {
  margin: 0;
}

.SearchView .search-results {
  background-color: #ffffffa7;
  filter: drop-shadow(0px 0px 2px black);
  padding: 20px;
  width: 95vw;
  border-radius: 5px;
}

.SearchView .search-results .description {
  text-transform: capitalize;
  display: block;
}

.SearchView .forecast {
  width: 100%;
  overflow-x: scroll;
}
.SearchView .forecast > * {
  flex-shrink: 0;
  width: 170px;
  margin: 5px 10px;
  background-color: rgba(0, 0, 0, 0.116);
  border: none;
  box-shadow: 0 0 3px black;
}
