.FavouritesIndicator {
  color: gold;
  font-size: 2em;
  position: relative;
  cursor: pointer;
}
.FavouritesIndicator:hover {
  filter: drop-shadow(0 0 5px black);
}

.FavouritesIndicator .badge {
  background-color: red;
  padding: 0;
  font-size: 0.5em;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -3px;
  right: 19px;
  border-radius: 50%;
  font-weight: normal;
  opacity: 0.6;
}
